<!--   <body class="body">
    <div class="pad">
      <div class="form-style-9">
        <form [formGroup]="userform" (ngSubmit)="updateLoginUser()" novalidate>
          <div *ngIf="validMessage != '' && validMessage != 'User updated successfully!'">
            <h3 style="color: red;" class="has-info" color="red">{{validMessage}}</h3>
          </div>
          <div *ngIf="validMessage == 'User updated successfully!'">
            <h3 style="color: green;" class="has-info" color="green">{{validMessage}}</h3>
          </div>
          <div class="form-group">
            <b><label>Username </label></b>
            <input type="text" formControlName="username" [value]="loginUser.username" required/>
          </div>
          <br>
          <div class="form-group">
            <b><label>Password </label></b>
            <input type="text" formControlName="password" [value]="loginUser.password" required/>
          </div>
          <br>
          <div class="form-group">
            <b><label>Admin </label></b>
            <input type="checkbox" [checked]="checked('admin')" (change)="toggle('admin')">

            <b><label> | Doctor </label></b>
            <input type="checkbox" [checked]="checked('doctor')" (change)="toggle('doctor')">

            <b><label> | Patient </label></b>
            <input type="checkbox" [checked]="checked('patient')" (change)="toggle('patient')">
          </div>
          <br>
          <button class="btn btn-primary" type="button" (click)="updateLoginUser()" >Update</button>
          <b><label> | </label></b>
          <input class="btn btn-primary" type="button" [routerLink]="['/admin']" value="Back">
          <b><label> | </label></b>
          <button class="btn btn-danger" ng-confirm-click= "Are you sure?" type="button" (click)="deleteLoginUser(loginUser.username)" >Delete</button>
        </form>
      </div>
    </div>
  </body>
 -->


   <body class="body">
    <div class="pad">
      <div class="form-style-9">

          <div class="form-group">
            <b><label>Username: </label></b>
            <label>{{user?.username}}</label>

            <b><label style="padding-left: 100px">Password: </label></b>
            <label>*****</label>
          </div>
          <br>

          <div class="form-group">
            <b><label>Role: </label></b>
            <label>
              {{user?.roles[0].role}}
            </label>
          </div>
          <br>

          <!-- <input class="btn btn-primary" type="button" [routerLink]="['/admin']" value="Edit">
          <b><label> | </label></b> -->
          <input class="btn btn-primary" type="button" [routerLink]="['/admin']" value="Back">

      </div>
    </div>
  </body>
