<!-- <body class="body">  
  <div class="pad">
    <div class="form-style-9">
      <form [formGroup]="patientform" novalidate>
        <div *ngIf="validMessage != '' && validMessage != 'Patient updated successfully!'">
          <h3 style="color: red;" class="has-info" color="red">{{validMessage}}</h3>
        </div>
        <div *ngIf="validMessage == 'Patient updated successfully!'">
          <h3 style="color: green;" class="has-info" color="green">{{validMessage}}</h3>
        </div>
        <div class="form-group">
          <b><label>Patient ID: </label></b>
          <label>{{patient.id}}</label>
        </div>
        <br>
        <div class="form-group">
          <b><label>Name </label></b>
          <input type="text" formControlName="name" [value]="patient.name" required/>

          <b><label> SSN </label></b>
          <input type="text" formControlName="ssn" [value]="patient.ssn" required/>
        </div>
        <br>
        <div class="form-group">
          <b><label>Date of Birth </label></b>
          <input type="text" formControlName="birthDate" [value]="patient.birthDate" required/>
        </div>
        <br>
        <div class="form-group">
          <b><label>Phone </label></b>
          <input type="text" formControlName="phone" [value]="patient.phone" required/>

          <b><label> Email </label></b>
          <input type="text" formControlName="email" [value]="patient.email" required/>
        </div>
        <br>
        <div class="form-group">
          <b><label> Insurance </label></b>
          <input type="text" formControlName="insurance" [value]="patient.insurance" required/>
        </div>
        <br>
        <button class="btn btn-primary" type="button" (click)="updatePatient()" disabled>Update</button>
        <b><label> | </label></b>
        <input class="btn btn-primary" type="button" [routerLink]="['/doctor', docId]" value="Back">
        <b><label> | </label></b>
        <button class="btn btn-danger" ng-confirm-click= "Are you sure?" type="button" (click)="removePatient()">
          Delete
        </button>
      </form>
    </div>
  </div>
</body> -->


<body class="body">  
  <div class="pad">
    <div class="form-style-9">
      <div class="form-group">
        <b><label>Patient ID: </label></b>
        <label>{{patient?.patId}}</label>
      </div>
      <br>
      <div class="form-group">
        <b><label>Name: </label></b>
        <label>{{patient?.name}}</label>

        <b><label style="padding-left: 100px">SSN: </label></b>
        <label>{{patient?.ssn}}</label>
      </div>
      <br>
      <div class="form-group">
        <b><label>Date of Birth: </label></b>
        <label>{{patient?.dob}}</label>
      </div>
      <br>
      <div class="form-group">
        <b><label>Phone: </label></b>
        <label>{{patient?.phone}}</label>

        <b><label style="padding-left: 100px">Email: </label></b>
        <label>{{patient?.email}}</label>
      </div>
      <br>
      <div class="form-group">
        <b><label> Insurance: </label></b>
        <label>{{patient?.insurance}}</label>
      </div>
      <br>
      <!-- <input class="btn btn-primary" type="button" [routerLink]="['/doctor', docId]" value="Edit">
      <b><label> | </label></b> -->
      <input class="btn btn-primary" type="button" [routerLink]="['/doctor/', username]" value="Back">
    </div>
  </div>
</body>