<div class="container">
  <table class="table table-bordered table-inverse" border="1" align="center">
    <tr>
      <th>Patient Name</th>
      <th>SSN</th>
      <th>DOB</th>
    </tr>
    <tr *ngFor="let patient of patients">
      <td><a [routerLink]="['/doctor/patients',patient.id]">{{patient.name}}</a></td>
      <td>{{patient.ssn}}</td>
      <td>{{patient.birthDate}}</td>
    </tr>
  </table>
</div>
<div style="text-align:center">
  <a routerLink="register-patient"><button type="button" align="center">New patient</button></a>
</div>
