<html class="main">  
  <header class="navbar">
    <ul class="navbar">
      <div class="pull-left">
        <li><a><h2 class="navbar">Electronic Health Record System</h2></a></li>
      </div>
      <div class="pull-right">
        <div [hidden]="loggedIn">
          <li><a class="navbar" href="login">Sign In</a></li>
        </div>
        <div [hidden]="!loggedIn">
          <li><a class="navbar" (click)="logout()" >Sign Out</a></li>
        </div>
      </div>
    </ul>
    <div class="navbar">
      <button class="navbar" [routerLink]="['']">Home</button>
      <button class="navbar" [routerLink]="['/patient/', username]">Patient</button>
      <button class="navbar" [routerLink]="['/doctor/', username]">Doctor</button>
      <button class="navbar" [routerLink]="['/admin']">Admin</button>
    </div>
  </header>
  <body class="body">
      <router-outlet></router-outlet>
  </body>
</html>
