<!DOCTYPE html>
<html>
  <body>
    <h1 style="text-align:center">Electronic Health Record System</h1>
    <ul>
      <div class="pull-left">
        <li><a href="" style="font-weight:bold">Home</a></li>
        <li><a href="patient" style="font-weight:bold">
          Patient
        </a></li>
        <li><a href="doctor" style="font-weight:bold">
          Doctor
        </a></li>
        <li><a href="admin" style="font-weight:bold">
          Admin
        </a></li>
      </div>
      <div class="pull-right">
        <li><a href="register" style="font-weight:bold">
          Create Account
        </a></li>
      </div>
    </ul>
  </body>
</html>
<router-outlet></router-outlet>
