<html class="main">  
  <header class="navbar">
    <ul class="navbar">
      <div class="pull-left">
        <li class="navbar"><a href="">Home</a></li>
        <li class="navbar"><a href="patient">Patient</a></li>
        <li class="navbar"><a href="doctor">Doctor</a></li>
        <li class="navbar"><a href="admin">Admin</a></li>
      </div>
      <div class="pull-right">
        <li><a class="navbar" href="register">Create Account</a></li>
      </div>
    </ul>
  </header>
  <body class="body">
      <router-outlet></router-outlet>
  </body>
</html>
